atomicwrites==1.2.1
attrs==18.2.0
cbpro==1.1.4
certifi==2018.10.15
chardet==3.0.4
idna==2.7
more-itertools==4.3.0
pluggy==0.8.0
py==1.10.0
pymongo==3.7.2
pytest==4.0.1
python-dateutil==2.7.5
requests==2.20.1
six==1.11.0
sortedcontainers==2.1.0
urllib3==1.24.2
websocket-client==0.54.0
